<div class="content">
  <div class="title">Create account</div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    
    <div class="field">
      <%= f.text_field :username, placeholder: "username", autofocus: true %>
    </div>
  
    <div class="field">
      <%= f.email_field :email, placeholder: "email", autofocus: true %>
    </div>
  
    <div class="field">
      <%= f.password_field :password, placeholder: "password(8 characters minimum)",autocomplete: "off" %>
    </div>
  
    <div class="field">
      <%= f.password_field :password_confirmation, placeholder: "password confirmation",autocomplete: "off" %>
    </div>
  <br>
  
    <div>
        <span> By clicking “I agree” below you agree to SimpaticoPup’s <%= link_to "Terms of Service", terms_of_service_path %> and our <%= link_to "Privacy Policy", privacy_policy_path %>, which describes how we process your information.</span>
    </div>
    <div>
      <%= f.check_box :agreement, :required => true %><label for="agreemen"></label> I agree
    </div>
    <br>
    <div>
      <%= check_box_tag 'subscribe_newsletter', 'yes' %> Click here if we may add you to our mailing list to receive occasional updates on the progress of our website. We will not share your email address with anyone else
    </div>
    <br>
  
    <div class="action" >
      <%= f.submit "Submit" %>
    </div>
  <% end %>
  
  
  <div class="buttons">
    <%= render "devise/shared/links" %>
  </div>
</div>