%div{:class => "container text-container"}
  %div{:class => "header"}
    %h1 My Pups
    
  %table#pups{:class => "table table-striped"}
    %thead
      %tr 
        %th Puppy Name
        %th Breed
        %th Breeder
        %th Comment
        %th Created At
        %th Updated At
        %th Action

    %tbody
      - @pups.each do |pup|
        %tr{:class => pup.id}
          %td= pup.pup_name
          %td= pup.breed.name
          %td= pup.breeder.name
          %td= pup.comment ? pup.comment.content : ""
          %td= pup.created_at.to_date
          %td= pup.updated_at.to_date
          %td
            = link_to "Delete", pup_path(:id => pup.id), :method => :delete, :data => {:confirm => "Are you sure you want to delete #{pup.pup_name}?"} 
            = link_to "Edit", root_path
          %td= link_to "More", pup_path(pup) 
          