
%div{:class => "col-sm-6 "}
    %div{:class => "break text-center"}
        - if width > 3
            %small{:class => "score good col-sm-5", :id => "#{id}_score"} #{width} 
        - elsif width > 1
            %small{:class => "score average col-sm-5", :id => "#{id}_score"} #{width} 
        - elsif width == 0
            %small{:class => "score na col-sm-5", :id => "#{id}_score"} N/A
        - else
            %small{:class => "score poor col-sm-5", :id => "#{id}_score"} #{width} 
        -# %br
        
        %p{:class => "rating-label row col-sm-7 size-14-font"} #{title}