%div{:class => "container"}
  %div{:class => "header"}
    %h1= "Edit #{@pup.pup_name}"
  
  = form_tag pup_path, :class => "form-horizontal", :autocomplete => 'off', :method => 'put' do
  
    %div{:class => "sub-title"}
      = label_tag 'pup_name', "Pup's name"
      = text_field :pup, 'pup_name', :placeholder => 'Enter Pup Name', :class => "form-control", :id => "pup_name"
      %br
      
      = label_tag 'Time you have owned your dog.'
      %p Years
      %select{:class => 'form-control', :id => 'pup_years', :name => 'pup[year]'} 
        = options_for_select((0..20).to_a, @pup.year)
      
      %p Month
      %select{:class => 'form-control', :id => 'pup_months', :name => 'pup[month]'} 
        = options_for_select((0..12).to_a, @pup.month)
      %br
      
      = label_tag 'breed', "Pup's Breed"
      %select{:class => 'form-control', :id => 'breed', :name => 'breed_name'} 
        = options_for_select(@breeds.collect {|p| p.name }, @breed)
      %br 
      
      = label_tag 'breeder_form', 'Breeder (Left Blank if Breeder is unknown)'
      %div{:class => 'collapse in', :id => 'breeder_form_collapse'}
        = text_field_tag 'breeder_str', @breeder_text, :placeholder => 'Enter Breeder if known', :class => 'form-control', :id => 'breeder_form'
        %div{:id => 'autofills', :class => "form-group col-md-12"}
      %br
      
      = label_tag 'comment', 'Comment'
      = text_field_tag 'comment', @comment_content, :maxlength => 140, :placeholder => 'Enter Comment', :class => 'form-control', :id => 'comment'
      %br
      
      
    %div{:class => "form-group col-sm-5"}
      = submit_tag 'Update', :class => 'form-control', :id => 'update_button'
    .col-sm-1
    .col-sm-5.form-group
      = link_to 'Cancel', :back, :class => 'form-control cancel'
      
      