// Iter 3-2 (Gilbert Lo, Jeff Yu)
%div{:class => "container"}
  %div{:class => "header"}
    %h1= @pup.pup_name
        
  %div{:class => "row"}
    %div{:class => "col-sm-6"}
      %h4= "Pup name: " + @pup.pup_name
      %h4= "Breed: " + @pup.breed.name
      %h4= "Breeder: " + @pup.breeder.name
      %h4= "Owned For: " + @pup.year.to_s + " year(s) and " + @pup.month.to_s + " month(s)"
      %h4= "Updated at: " + @pup.updated_at.to_date.to_s
    
    %div{:class => "col-sm-6"}
      = render 'shared/comment', pup: @pup, responsibility: @pup.breeder_responsibility , health: @pup.overall_health , train: @pup.trainability , social: @pup.social_behavior, dog: @pup.dog_behavior, simpatico: @pup.simpatico_rating, energy: @pup.energy_level
  
    
  %div{:class => "action"}
    = button_to 'Delete pup', pup_path(:id => @pup.id), :method => :delete, :data => {:confirm => "Are you sure you want to delete this pup?" }
    = button_to 'Edit pup', edit_pup_path(@pup), :method => :get
// End 3-2
    