%h1 Breeders
- if @breeders.present? and @breeders[0]!='nope'
  %p Find breeders/kennels within "#{params[:breeder][:search_distance]}" miles of "#{params[:breeder][:city].present? ? (params[:breeder][:city].to_s + ', ' + params[:breeder][:state].to_s) : params[:breeder][:state]}"
  %table.table
    %thead
      %tr
        %th #
        %th Breeder Name
        %th City
        %th State
        %th Air Distance (miles)
    %tbody
      - @breeders.each_with_index do |breeder, index|
        %tr
          %th{:scope => "row"}= index + 1
          %td
            = link_to breeder.name, breeder_search_path(id: breeder.id)
          %td= breeder.city
          %td= breeder.state
          %td= (breeder.distance.to_f).round(2)
- else
  //Iter 2-2
  - if @breeders[0] == 'nope'
    %p The city you entered is not a valid city in the selected state
  - else
    %p No Breeders Available :(