// Iter 2-2 Breeder location validation (By Gilbert Lo, Jeff Yu)
- if !@valid_location
  %h3 #{@message}
- elsif @breeders.present?
  %h1 Breeders
  - if params[:breeder][:search_distance] == "9999"
    %p Find breeders/kennels near "#{params[:breeder][:city].present? ? (params[:breeder][:city].to_s + ', ' + params[:breeder][:state].to_s) : params[:breeder][:state]}"
  - else 
    %p Find breeders/kennels within "#{params[:breeder][:search_distance]}" miles of "#{params[:breeder][:city].present? ? (params[:breeder][:city].to_s + ', ' + params[:breeder][:state].to_s) : params[:breeder][:state]}"
  
  %table.table
    %thead
      %tr
        %th #
        %th Breeder Name
        %th City
        %th State
        %th Air Distance (miles)
    %tbody
      - @breeders.each_with_index do |breeder, index|
        %tr
          %th{:scope => "row"}= index + 1
          %td
            = link_to breeder.name, breeder_search_path(id: breeder.id)
          %td= breeder.city
          %td= breeder.state
          %td= (breeder.distance.to_f).round(2)
- else
  %h3 No Breeders Available :(