// Iter2 (by Eric, Emiko)
/ %body{:style => "background-color:#EBFAFF"}

%div{:class => "container"}

  %div{:class => "header"}
    %h1 Rate SimpaticoPup!

  %br

  / http://bootsnipp.com/user/snippets/0M39d
  = form_tag create_feedback_path, :class => "form-horizontal", :autocomplete => 'off' do



    /ATTRIBUTES GROUP/
    %div{:class => "sub-header"}
      %h3 Please rate the current features on the website!
    %h4{:class => "explanation"}
      (1 = Poor, 5 = Excellent)
    = render 'slider_rating', title: "Rate Your Dog", slider: "slider-rateyourdog", id: "rateyourdog-label",
              des1: "#{t(:feedback_scale_low)}", des5: "#{t(:feedback_scale_high)}", var: :usability_rateyourdog
    = render 'slider_rating', title: "Find Rating for Breed", slider: "slider-findratingbreed", id: "findratingbreed-label",
              des1: "#{t(:feedback_scale_low)}", des5: "#{t(:feedback_scale_high)}", var: :usability_findratingbreed
    = render 'slider_rating', title: "Find Ratings for a Breeder", slider: "slider-findratingbreeder", id: "findratingbreeder-label",
              des1: "#{t(:feedback_scale_low)}", des5: "#{t(:feedback_scale_high)}", var: :usability_findratingbreeder
    = render 'slider_rating', title: "Search for a Breeder", slider: "slider-searchbreeder", id: "searchbreeder-label",
              des1: "#{t(:feedback_scale_low)}", des5: "#{t(:feedback_scale_high)}", var: :usability_searchbreeder
    = render 'slider_rating', title: "Community Forum", slider: "slider-forum", id: "forum-label",
              des1: "#{t(:feedback_scale_low)}", des5: "#{t(:feedback_scale_high)}", var: :usability_forum

    %br
    %br

    /COMMENTS GROUPING/
    %div{:class => "sub-header"}
      %h3 Send us your feedback!
    %h4{:class => "explanation"} If you found any bugs or have any suggestions let us know below! (1000 chars limit)
    %br
    %div{:class => "form-group col-sm-12"}
      = text_field :feedback, 'open_response', :maxlength => 1000, :class => "form-control", :style => "border-color: rgb(51, 153, 255);", :placeholder => "Please leave your suggestions here!"


    %div{:class => "form-group col-sm-5"}
      = submit_tag 'Submit', :id => 'Add_Feedback', :class => "form-control", :style => "margin-bottom: 10%; background-color: rgb(51, 153, 255); color: #fff; margin-left: 75%;"
    %script{:src=>"https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"}

    %br
    %br
