<!DOCTYPE html>
<html>

<!--Devise flash notices-->

<head>
  <link rel="icon" href="/assets/icon.png">
  <title>SimpaticoPup</title>
  
  <!-- mobile friendly tag -->
    <meta name="viewport" content="width=device-width">
    
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>


<body>

  <!-- Devise user login buttons -->
  <div class="container-fluid" style="padding-top:50px; padding-bottom: 50px">
  <!--<div class="container-fluid" style="padding-top:50px; padding-bottom: 50px">-->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="/" style="font-size: 24px;padding-left:25px;">SimpaticoPup</a>
          <a class="navbar-brand" href=" " style="font-size: 24px;padding-left:25px;">SimpaticoPup</ a>
        </div>
                
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="nav navbar-nav navbar-right">

              <li>
                <%= link_to "", "#"%>
              </li>
              <li> 
                <%= link_to "Mission", text_mission_path %>
              </li>
              <li> 
                <%= link_to "Background", text_background_path %>
              </li>
              <li> 
                <%= link_to "Goals", text_goals_path %>
              </li>
              <li> 
                <%= link_to "How You Can Help", text_how_you_can_help_path %>
              </li>
              <li> 
                <%= link_to "Community Forum", "/forum" %>
              </li>
              
              <% if user_signed_in? %>

                  <li class="navbar-text">
                    <%= "Logged in as " + current_user.username %>
                  </li>

                  <li>
                    <%= link_to "Edit Profile", edit_user_registration_path %>
                  </li>

                  <li>
                    <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
                  </li>
              <% else %>
                  <li><button type="button" class="btn btn-default navbar-btn"><%= link_to "Signup", new_user_registration_path %></button></li>
                  <li><%= link_to "Login", new_user_session_path, :id => 'Login' %></li>
              <% end %>
            </ul>
          </div>
      </div>
    </nav>

    <% flash.each do |type, message| %>
      <% if type != :modal %>
        <div class="alert <%= bootstrap_class_for(type) %> fade in">
          <button class="close" data-dismiss="alert">×</button>
          <%= message %>
        </div>
      <% end %>
    <% end %>
    
    <%= yield %>
    <!--Mask-->
    <!--<div class="view">-->
    <!--    <div class="full-bg-img flex-center">-->
    <!--    </div>-->
    <!--</div>-->
    <!--/.Mask-->
    

    

  </div>
  
  <div class="row navbar-fixed-bottom">
    <div class="col-md-12 contact contact-text-sm">
      <div class="col-sm-4">
        <p>For More Information on Breed Health:</p >
        <%= link_to 'Canine Health Information Center', 'http://www.caninehealthinfo.org/', :class => "contact-link" %>
      </div>
    
      <div class="col-sm-4">
        <p>
          <%= link_to "Privacy Policy", privacy_policy_path, :class=>"contact-link" %>
        </p >
        <p>
          <%= link_to "Terms of Service", terms_of_service_path, :class=>"contact-link" %>
        </p >

    
      <div class="col-sm-4">
        <p>Contact Info</p >
        <%= link_to "LSandersDVM@gmail.com", 'mailto:LSandersDVM@gmail.com', :class=>"contact-link" %>
      </div>
    
    </div>
  </div>
  

</body>
</html>